{% extends "layout.html" %}
{% block title %}Groups :: {{ config.site_name }}{% endblock %}
{% block body %}
<h3>Groups
    {% if current_user and current_user.level >= 2 %}
    <a href="/groups/create" class="btn btn-success btn-sm pull-right">Create Group</a>
    {% endif %}
</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Tag</th><th>Name</th><th>Owner</th><th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for row in groups %}
            {% set group = row.group %}
            <tr>
                <td><a href="/group/{{ group.slug | urlencode }}">[{{ group.tag }}]</a></td>
                <td><a href="/group/{{ group.slug | urlencode }}">{{ group.name }}</a></td>
                <td>{% if row.owner %}<a href="/user/{{ row.owner | urlencode }}">{{ row.owner }}</a>{% else %}&mdash;{% endif %}</td>
                <td data-timestamp="{{ group.created_time | date(format="%s") }}">{{ group.created_time | date(format="%Y-%m-%d %H:%M") }}</td>
            </tr>
            {% else %}
            <tr><td colspan="4" class="text-center">No groups yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
