{% extends "layout.html" %}
{% block title %}Login :: {{ config.site_name }}{% endblock %}
{% block metatags %}
<meta property="og:description" content="Log in to {{ config.site_name }}!">
{% endblock %}
{% block body %}

<h1>Login</h1>
	<form method="POST" action="/login">
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group">
					<label class="control-label" for="username">Username or email address</label>
					<input autofocus class="form-control" id="username" name="username" placeholder="Username" required tabindex="1" title="" type="text" value="{{ username | default(value="") }}">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group{% if error %} has-error{% endif %}">
					<label class="control-label" for="password">Password</label>
					<input class="form-control" id="password" name="password" required tabindex="2" title="" type="password" value="">
					{% if error %}
					<div class="help-block">
						{{ error }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Login" class="btn btn-primary" tabindex="3">
			</div>
		</div>
	</form>
{% endblock %}
