{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}Password reset :: {{ config.site_name }}{% endblock %}
{% block body %}
<h1>Request a password reset</h1>
<form method="POST" action="/password-reset">
	<div class="row">
		<div class="form-group col-md-4">
			<label class="control-label" for="email">Email address</label>
			<input class="form-control" id="email" name="email" placeholder="Email address" required type="email">
		</div>
	</div>
	{% if config.recaptcha_public_key %}
	<div class="row">
		<div class="form-group col-md-4">
			{{ macros::recaptcha_script() }}
			{{ macros::recaptcha(site_key=config.recaptcha_public_key) }}
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-4">
			<input type="submit" value="Request reset" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
