{% extends "layout.html" %}
{% block title %}Password reset :: {{ config.site_name }}{% endblock %}
{% block body %}
<h1>Choose a new password</h1>
{% if errors | length > 0 %}
<div class="row">
	<div class="col-md-4">
		<div class="alert alert-danger" role="alert">
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
<form method="POST">
	<div class="row">
		<div class="form-group col-md-4">
			<label class="control-label" for="password">New password</label>
			<input class="form-control" id="password" name="password" placeholder="New password" required minlength="6" maxlength="1024" type="password">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4">
			<label class="control-label" for="password_confirm">Repeat new password</label>
			<input class="form-control" id="password_confirm" name="password_confirm" placeholder="Repeat new password" required minlength="6" maxlength="1024" type="password">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<input type="submit" value="Reset password" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
