{% extends "layout.html" %}
{% block title %}Edit Profile :: {{ config.site_name }}{% endblock %}
{% block body %}

<h2 style="margin-bottom: 20px;">Profile of <strong class="text-{{ current_user | level_color }}">{{ current_user.username }}</strong></h2>

<div class="row" style="margin-bottom: 20px;">
	<div class="col-sm-2" style="max-width: 150px;">
		<img class="avatar" src="/static/img/avatar/default.png">
	</div>
	<div class="col-sm-10">
		<dl class="row" style="margin: 20px 0 15px 0;">
			<dt class="col-sm-2">User ID:</dt><dd class="col-sm-10">{{ current_user.id }}</dd>
			<dt class="col-sm-2">User Class:</dt><dd class="col-sm-10">{{ current_user | level_str }}</dd>
			<dt class="col-sm-2">User Created on:</dt><dd class="col-sm-10">{{ current_user.created_time | date(format="%Y-%m-%d %H:%M:%S") }}</dd>
			<dt class="col-sm-2">Email:</dt><dd class="col-sm-10">{{ current_user.email | default(value="") }}</dd>
		</dl>
	</div>
</div>

<hr>

{% endblock %}
