{% extends "layout.html" %}
{% block title %}Profile :: {{ config.site_name }}{% endblock %}
{% block body %}
<div class="row"><div class="col-md-6 col-md-offset-3">
    <h3>Profile Settings</h3>
    <dl class="dl-horizontal">
        <dt>Username:</dt><dd>{{ current_user.username }}</dd>
        <dt>Email:</dt><dd>{{ current_user.email | default(value="—") }}</dd>
        <dt>Level:</dt><dd>{{ current_user | level_str }}</dd>
        <dt>Member since:</dt><dd>{{ current_user.created_time }}</dd>
    </dl>
</div></div>
{% endblock %}
