{% extends "layout.html" %}
{% block title %}Register :: {{ config.site_name }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Register</h3>
        {% for error in errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <form method="post" action="/register">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required minlength="3" maxlength="32">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required minlength="6">
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" name="password_confirm" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">Register</button>
        </form>
        <p class="text-center" style="margin-top:1em">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endblock %}
